.gridContainer {
    display: grid;
    grid-template-columns: 30% 70%;
}
.chats {
    border-right: 1px solid rgb(119, 119, 119);
}
.dialogs {
    font-size: 22px;
    font-weight: 500;
    color: rgb(119, 119, 119);
}
