.message {
    display: flex;
    gap: 40px;
    margin-left: 60px;
    margin-top: 30px;
    margin-bottom: 55px;
    align-items: center;
}
.circle {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: rgb(230, 230, 230);
    position: relative;
    margin-top: -30px;
    text-align: center;
}
.avatar {
    width: 50px;
    height: 50px;
    border-radius: 100%;
}
.name {
    color: rgb(119, 119, 119);
    font-size: 18px;
    font-weight: 500;
    margin-top: 50px;
}
.cloud {
    border: 1px solid rgb(209, 209, 209);
    border-radius: 10px;
    padding: 20px;
    position: relative;
    width: 250px;
}
.cloudText {
    max-width: 220px;
    color: rgb(119, 119, 119);
}
