.ListItem {
    padding: 20px 0;
    font-size: 16px;
    color: rgb(119, 119, 119);
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 10px;
}
.ListItem a {
    text-decoration: none;
    color: rgb(119, 119, 119);
}
.ListItem .avatar {
    height: 40px;
    width: 40px;
    border-radius: 100%;
}
.activeEl {
    font-weight: 500;
    font-size: 20px;
    color: rgb(87, 87, 87) !important; 
}